html {
    font-family: Caveat;
    font-size: 26px;
}



/* canvas */
.canvas__wrapper {
    z-index: 0;
    position: relative;
    display: block;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.canvas {
    z-index: 0;
    position: fixed;

    width: 100% !important;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
}



/* loading bar */
.loading-bar-wrapper {
    position: absolute;
    z-index: 1000;

    width: 25%;
    height: 8px;

    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.loading-bar-bg {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 999px;
}

.loading-bar {
    position: absolute;
    inset: 0;

    background: #ffffff;
    border-radius: 999px;

    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.8s linear, opacity 0.1s ease;
}

.loading-bar.ended,
.loading-bar-bg.ended {
    opacity: 0;
    pointer-events: none;
}



/* blur */
.blur-overlay {
    z-index: 100;
    position: fixed;

    pointer-events: none;
    inset: 0;

    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    background: rgba(0, 0, 0, 0.15);
}

.blur-overlay.hidden {
    display: none;
    z-index: -1000;
}



/* start-btn */
.start-btn,
.restart-btn {
    z-index: 1000;
    position: fixed;

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    font-size: 45px;
    padding: 1.5rem 3rem;

    color: white;
    background-color: rgb(0, 115, 0);
    border-radius: 3rem;
}

.start-btn:hover {
    transform: scale(1.03);
    background-color: rgb(50, 140, 50);
}

.restart-btn:hover {
    transform: scale(1.03);
    background-color: rgb(50, 140, 50);
}

.start-btn.hidden,
.restart-btn.hidden {
    display: none;
    pointer-events: none;
    z-index: -1000;
}



.instructions {
    position: fixed;
    z-index: 1000;
    top: 2rem;
    left: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}




.dialogue-box {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    width: min(700px, 90%);
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    background: url(../../static/svg/fond_dialogue.svg) center / cover no-repeat;
    color: white;
    z-index: 20;
}



.character-infos {
    position: absolute;
    left: 50%;
    bottom: 50%;
    translate: -50% -50%;

    width: min(1000px, 90%);
    padding: 2rem;
    border-radius: 4rem;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    z-index: 20;
}



.hidden {
    display: none;
}

.Elgraphique {
    background: url(../../static/svg/Element_threeJs.svg) center / cover no-repeat;
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    width: 100%;
    height: 150px;
    z-index: 3;
}

.button__back {
    position: fixed;
    z-index: 3;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.button_left,
.button_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid rgb(108, 67, 17);
    border-radius: 500px;
    padding: 0.5rem;
    background: url(../../static/svg/Decor_Button.svg) center / cover no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_left {
    margin-left: 1rem;
}

.button_right {
    margin-right: 1rem;
    rotate: 90deg;
}


.button_left svg path,
.button_right svg path {
    fill: rgb(255, 255, 255);
}

.button_left:hover,
.button_right:hover {
    background-color: rgb(108, 67, 17);
    scale: 1.1;

    svg path {
        fill: rgb(183, 122, 57);
    }
}

.button_toggle-sound {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}